#include "BrandShared.xcconfig"
#include "GoogleOAuth.shared.xcconfig"

APP_BRAND_ID = aurora-circuit
APP_DISPLAY_NAME = Aurora Circuit
PRODUCT_NAME = AuroraCircuit
PRODUCT_BUNDLE_IDENTIFIER = com.goldencrowvs.jueceoauroracircuit
PRODUCT_BUNDLE_IDENTIFIER[sdk=macosx*] = com.goldencrowvs.jueceoauroracircuit.mac
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconAuroraCircuit
GOOGLE_DRIVE_ROOT_FOLDER = FEEDBACK AURORA CIRCUIT
APP_ICON_PLACEHOLDER = YES
BRAND_ASSETS_PLACEHOLDER = YES
BUNDLE_ID_FINAL_CONFIRMED = NO
GOOGLE_OAUTH_FINAL = NO
