#include "BrandShared.xcconfig"
#include "GoogleOAuth.shared.xcconfig"

APP_BRAND_ID = levitate
APP_DISPLAY_NAME = Levitate
PRODUCT_NAME = Levitate
PRODUCT_BUNDLE_IDENTIFIER = com.goldencrowvs.jueceolevitate
PRODUCT_BUNDLE_IDENTIFIER[sdk=macosx*] = com.goldencrowvs.jueceolevitate.mac
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconLevitate
GOOGLE_DRIVE_ROOT_FOLDER = FEEDBACK LEVITATE MX
APP_ICON_PLACEHOLDER = YES
BRAND_ASSETS_PLACEHOLDER = NO
BUNDLE_ID_FINAL_CONFIRMED = NO
GOOGLE_OAUTH_FINAL = NO
